#container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.operator {
    background-color: orange;
}

.num_holder {
    border-width: 10px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calc_holder {
    display: flex;
}
.operations {
    display: flex;
    flex-direction:column;
}
button {
    height: 50px;
    width: 50px;
    font-size: 30px;
}

.calc_display {
    height: 50px;
    font-size: 50px;
}

.clear {
    width: 150px;
    background-color: red;
}

.equal {
    background-color: green;
}

.back {
    background-color: blue;
    width: 150px;
}